html, body {
  padding: 0;
  margin: 0; }

.plix-editor {
  display: flex;
  height: 100vh; }

.split-top-bottom-container {
  display: flex;
  width: 100%;
  flex-direction: column; }

.split-top-bottom-container-top {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-bottom {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-drag {
  background-color: #888;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%);
  background-size: 5px, 5px, 5px;
  background-position: calc(50% - 10px), 50%, calc(50% + 10px);
  background-repeat: no-repeat, no-repeat, no-repeat;
  cursor: ns-resize;
  height: 5px; }
  @media (hover: none) and (pointer: coarse) {
    .split-top-bottom-container-drag {
      box-sizing: border-box;
      height: 25px;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%);
      background-size: 25px, 25px, 25px;
      background-position: calc(50% - 25px), 50%, calc(50% + 25px);
      border-top: 3px solid rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid rgba(0, 0, 0, 0.3); } }

.split-tl {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "menu sep scale" "tree sep timeline"; }

.split-tl-menu {
  grid-area: menu;
  width: 200px;
  overflow: hidden;
  display: flex; }

.split-tl-scale {
  grid-area: scale;
  overflow: auto;
  display: flex; }

.split-tl-tree {
  grid-area: tree;
  width: 200px;
  overflow: auto;
  display: flex; }

.split-tl-timeline {
  grid-area: timeline;
  overflow: auto;
  display: flex; }

.split-tl-content {
  flex-grow: 1;
  min-height: 100%;
  height: max-content;
  display: flex; }

.split-tl-sep {
  grid-area: sep;
  width: 5px;
  background-color: #888;
  cursor: ew-resize;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px);
  background-position: 0 -10px, 0, 0 10px; }
  @media (hover: none) and (pointer: coarse) {
    .split-tl-sep {
      width: 25px;
      box-sizing: border-box;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px);
      background-position: 0 -25px, 0, 0 25px;
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      border-right: 3px solid rgba(0, 0, 0, 0.3); } }

.hide-scroll::-webkit-scrollbar {
  display: none; }


/*# sourceMappingURL=style-index.css.map*/