html, html > body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
  overscroll-behavior-x: none; }

a {
  color: #88f;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #aaf; }

.btn:focus {
  outline: none !important;
  box-shadow: none !important; }

.btn:active {
  outline: none !important;
  box-shadow: none !important; }

body .btn-primary:focus {
  background-color: #007bff;
  border-color: #007bff; }

.form-control-xs {
  height: calc(1em + .375rem + 2px);
  padding: .125rem .25rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: .2rem; }

.plix-editor {
  display: flex;
  height: 100vh; }

.track-tree {
  width: 100%; }

.track-timeline {
  width: 100%;
  position: relative; }

.track-header-tree {
  margin: 5px; }

button.btn.track-header-icon-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  button.btn.track-header-icon-button > i {
    font-size: 21px; }
  button.btn.track-header-icon-button > .badge {
    margin-left: 5px; }

.track-timeline-time-col {
  position: absolute;
  top: -10px;
  bottom: 0;
  width: 4px;
  opacity: 0.9;
  pointer-events: none;
  background-color: white;
  z-index: 1;
  transform: translate(-2px, 0);
  mix-blend-mode: difference; }

.split-top-bottom-container {
  display: flex;
  width: 100%;
  flex-direction: column; }

.split-top-bottom-container-top {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-bottom {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-drag {
  background-color: #888;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%);
  background-size: 5px, 5px, 5px;
  background-position: calc(50% - 10px), 50%, calc(50% + 10px);
  background-repeat: no-repeat, no-repeat, no-repeat;
  cursor: ns-resize;
  height: 5px; }
  @media (hover: none) and (pointer: coarse) {
    .split-top-bottom-container-drag {
      box-sizing: border-box;
      height: 25px;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%);
      background-size: 25px, 25px, 25px;
      background-position: calc(50% - 25px), 50%, calc(50% + 25px);
      border-top: 3px solid rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid rgba(0, 0, 0, 0.3); } }

.track-left-block {
  display: block;
  position: relative; }
  .track-left-block._collapsed {
    display: none; }
  .track-left-block._nested {
    padding-left: 14px;
    margin-left: 14px;
    margin-bottom: 8px; }
    .track-left-block._nested::before {
      position: absolute;
      top: -1px;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: 4px;
      border-left: 1px solid #444;
      border-bottom: 1px solid #444;
      content: ""; }
    .track-left-block._nested:hover::before {
      border-left: 1px solid #884;
      border-bottom: 1px solid #884; }

.track-right-block {
  display: block;
  position: relative; }
  .track-right-block._collapsed {
    display: none; }
  .track-right-block._nested {
    margin-bottom: 8px; }
    .track-right-block._nested::before {
      position: absolute;
      width: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      border-bottom: 1px solid #444;
      content: ""; }

.track-timeline-block {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 1px 0 1px 0; }
  .track-timeline-block .track-timeline-block-content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    width: max-content; }
    .track-timeline-block .track-timeline-block-content._fixed {
      position: sticky;
      display: inline-flex;
      width: max-content;
      left: 0; }
  .track-timeline-block._default {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #222; }
  .track-timeline-block._description {
    height: 23px; }
  .track-timeline-block._title {
    margin-top: 10px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #333; }
  .track-timeline-block._timeline {
    height: 40px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    background-color: #222;
    width: max-content; }
    .track-timeline-block._timeline .track-timeline-block-content {
      padding-left: 0; }

.track-expander {
  width: 20px;
  display: inline-flex;
  justify-content: center;
  user-select: none; }
  .track-expander::before {
    content: "";
    pointer-events: none; }
  .track-expander._expanded::before {
    content: "-"; }
  .track-expander._collapsed::before {
    content: "+"; }

.track-tree-block {
  box-sizing: border-box;
  padding-left: 5px;
  width: max-content;
  min-width: 100%;
  margin: 1px 0 1px 0;
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: pre; }
  .track-tree-block._selected {
    outline: solid 1px #888844; }
  .track-tree-block._default {
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
    .track-tree-block._default::before {
      content: "";
      position: absolute;
      height: calc( 50% - 1px);
      left: -15px;
      width: 14px;
      border-bottom: 1px solid #444; }
    .track-tree-block._default:hover::before {
      border-bottom: 1px solid #884; }
  .track-tree-block._description {
    height: 23px; }
  .track-tree-block._title {
    margin-top: 10px;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #333;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .track-tree-block._timeline {
    height: 40px;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .track-tree-block._drag {
    outline: 2px solid #888; }
  .track-tree-block._move {
    background-color: transparent;
    color: transparent; }
    .track-tree-block._move > * {
      opacity: 0; }
  .track-tree-block._link {
    outline: 2px dashed #888; }
  .track-tree-block._drop._drop-replace .track-tree-icon-replace {
    display: block; }
  .track-tree-block._drop._drop-add-item .track-tree-icon-add-item {
    display: block; }
  .track-tree-block._drop._drop-add-array .track-tree-icon-add-array {
    display: block; }
  .track-tree-block._drop._drop-insert::before {
    content: "";
    height: 20px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    position: absolute;
    z-index: 99; }
  .track-tree-block._drop._drop-insert._drop-insert-top::before {
    top: -10px; }
  .track-tree-block._drop._drop-insert._drop-insert-bottom::before {
    bottom: -10px; }
  .track-tree-block .track-tree-block-space {
    flex-grow: 1; }
  .track-tree-block .track-tree-block-right {
    position: sticky;
    pointer-events: none;
    right: 0; }
  .track-tree-block .track-tree-block-right-icon {
    position: absolute;
    pointer-events: none; }
  .track-tree-block .track-tree-drop-icon-content {
    margin-right: 5px;
    background-color: black; }
  .track-tree-block .track-tree-icon {
    display: none; }

.track-description {
  user-select: none; }
  .track-description._empty {
    color: #888;
    cursor: auto; }
  .track-description._link {
    color: #88f;
    cursor: pointer; }
  .track-description._type {
    color: #bbb;
    cursor: auto; }
  .track-description._desc {
    color: #888;
    cursor: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: pre; }
  .track-description._disabled {
    text-decoration: line-through; }

.inline-editor-span {
  color: #88f;
  font-size: 16px;
  font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
  cursor: pointer; }

.inline-input-editor {
  margin: 0; }
  .inline-input-editor > input {
    margin-left: -5px;
    font-size: 16px;
    font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
    height: 32px;
    padding-left: 5px;
    padding-top: 5px; }

.inline-select-editor {
  display: inline-block;
  margin: 0; }
  .inline-select-editor > div.form-control {
    background: transparent;
    border: none;
    width: 300px;
    padding: 0;
    margin-left: -5px;
    color: black; }
    .inline-select-editor > div.form-control > div > div {
      font-size: 16px;
      font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
      height: 32px;
      padding-left: 2px;
      padding-top: 3px; }

.inline-color-editor .ice-color {
  height: 25px;
  width: 25px;
  border-radius: 40%; }

.inline-color-editor .ice-color-container {
  border-radius: 40%;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-color: white;
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px; }

.array-track-drop-target {
  position: absolute;
  z-index: 1;
  display: none;
  height: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5); }
  .array-track-drop-target._drop-target {
    display: block; }
  .array-track-drop-target._top {
    top: -5px; }
  .array-track-drop-target._bottom {
    bottom: -5px;
    pointer-events: none; }

.color-view-block {
  height: 12px;
  width: 20px;
  display: inline-flex !important; }

.checkers_background {
  background-color: white;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  display: inline-block; }

.color-view-block-fill {
  flex-grow: 1;
  width: 100%;
  height: 100%; }

input[type="color"].full-size-color-picker {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  height: 100%;
  outline: none;
  cursor: pointer; }
  input[type="color"].full-size-color-picker::-webkit-color-swatch-wrapper {
    padding: 0; }
  input[type="color"].full-size-color-picker::-webkit-color-swatch {
    border: none; }

.timeline-editor-drag-content {
  position: relative;
  width: 100%;
  height: 100%; }

.timeline-editor {
  position: relative;
  height: 100%; }

.timeline-editor-grid {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.timeline-editor-records {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }

.timeline-editor-dummy {
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #666;
  overflow: hidden; }
  .timeline-editor-dummy._unavailable {
    background-color: #c00; }

.timeline-editor-grid-canvas {
  position: absolute;
  top: 0;
  left: 0; }

.timeline-record {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .timeline-record._drag .timeline-record-name {
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.7); }
  .timeline-record._copy .timeline-record-name {
    border-style: dashed; }
  .timeline-record._move .timeline-record-name {
    background-color: transparent !important;
    color: transparent; }

.timeline-record-name {
  font-size: 10pt;
  background-color: #888;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 5px;
  bottom: 5px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1px 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: grab; }
  .timeline-record-name._disabled {
    border-color: rgba(255, 255, 255, 0.5); }

.timeline-record-scaling {
  position: absolute;
  display: inline-block;
  top: -7px;
  bottom: -7px;
  width: 5px;
  cursor: col-resize;
  box-sizing: border-box; }
  .timeline-record-scaling._left {
    left: 0; }
  .timeline-record-scaling._right {
    right: 0; }
  .timeline-record-scaling:hover {
    background-color: rgba(255, 255, 255, 0.3); }

.timeline-blink-container {
  display: flex;
  height: 100%;
  width: 50px;
  justify-content: space-evenly;
  align-items: center; }

.timeline-blink-img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all .3s ease-out;
  transform: scale(0); }
  .timeline-blink-img._animate {
    background-color: white;
    transform: scale(1); }
    .timeline-blink-img._animate._animate-active {
      background-color: transparent;
      transform: scale(0); }

.effect-graph-view-bg {
  display: inline-block;
  position: relative; }
  .effect-graph-view-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: white;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 10px 10px;
    animation: .7s linear 0s infinite effect-graph-view-bg-move;
    animation-play-state: paused; }
  .effect-graph-view-bg:hover::before {
    animation-play-state: running; }

@keyframes effect-graph-view-bg-move {
  from {
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px; }
  to {
    background-position: -15px -5px, -15px 0px, -10px -10px, -20px -5px; } }

.effect-group-alias {
  box-sizing: border-box;
  background-color: #888;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 1px 0 0 5px;
  cursor: grab; }

.split-tl {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "menu sep scale" "tree sep timeline"; }

.split-tl-menu {
  grid-area: menu;
  width: 200px;
  overflow: hidden;
  display: flex; }

.split-tl-scale {
  grid-area: scale;
  overflow: auto;
  display: flex; }

.split-tl-tree {
  grid-area: tree;
  width: 200px;
  overflow: auto;
  display: flex; }

.split-tl-timeline {
  grid-area: timeline;
  overflow: auto;
  display: flex; }

.split-tl-content {
  flex-grow: 1;
  min-height: 100%;
  height: max-content;
  display: flex; }

.split-tl-sep {
  grid-area: sep;
  width: 5px;
  background-color: #888;
  cursor: ew-resize;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px);
  background-position: 0 -10px, 0, 0 10px; }
  @media (hover: none) and (pointer: coarse) {
    .split-tl-sep {
      width: 25px;
      box-sizing: border-box;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px);
      background-position: 0 -25px, 0, 0 25px;
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      border-right: 3px solid rgba(0, 0, 0, 0.3); } }

.hide-scroll::-webkit-scrollbar {
  display: none; }

.track-scale {
  display: flex;
  position: relative;
  height: 100%; }

.track-scale-line {
  display: inline-block;
  background-color: #222; }

.split-lr {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative; }
  .split-lr ::-webkit-scrollbar {
    height: 0;
    width: 5px;
    background-color: transparent; }
  .split-lr ::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .split-lr ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

.split-lr-scroll-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden; }

.split-lr-cnt {
  margin-left: 5px;
  width: 100%;
  min-height: 100%;
  height: max-content;
  overflow: auto;
  display: flex;
  min-width: 200px; }
  @media (hover: none) and (pointer: coarse) {
    .split-lr-cnt {
      margin-left: 25px; } }

.split-lr-timeline {
  min-height: 100%;
  display: flex;
  flex-grow: 1; }

.split-lr-left {
  width: 200px;
  min-height: 100%;
  height: max-content;
  overflow: auto;
  cursor: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex; }

.split-lr-left-content {
  display: flex;
  flex-grow: 1; }

.split-lr-drag {
  background-color: #888;
  display: block;
  cursor: ew-resize;
  min-width: 5px;
  height: 100%;
  position: absolute;
  left: 200px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px);
  background-position: 0 -10px, 0, 0 10px; }
  @media (hover: none) and (pointer: coarse) {
    .split-lr-drag {
      min-width: 25px;
      box-sizing: border-box;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px);
      background-position: 0 -25px, 0, 0 25px;
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      border-right: 3px solid rgba(0, 0, 0, 0.3); } }


/*# sourceMappingURL=style-index.css.map*/