html, body {
  padding: 0;
  margin: 0; }

.plix-editor {
  display: flex;
  height: 100vh; }

.split-top-bottom-container {
  display: flex;
  width: 100%;
  flex-direction: column; }

.split-top-bottom-container-top {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-bottom {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1; }

.split-top-bottom-container-drag {
  background-color: #888;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70%);
  background-size: 5px, 5px, 5px;
  background-position: calc(50% - 10px), 50%, calc(50% + 10px);
  background-repeat: no-repeat, no-repeat, no-repeat;
  cursor: ns-resize;
  height: 5px; }
  @media (hover: none) and (pointer: coarse) {
    .split-top-bottom-container-drag {
      box-sizing: border-box;
      height: 25px;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30%);
      background-size: 25px, 25px, 25px;
      background-position: calc(50% - 25px), 50%, calc(50% + 25px);
      border-top: 3px solid rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid rgba(0, 0, 0, 0.3); } }

.split-lr {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative; }
  .split-lr ::-webkit-scrollbar {
    height: 0;
    width: 5px;
    background-color: transparent; }
  .split-lr ::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .split-lr ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

.split-lr-scroll-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden; }

.split-lr-cnt {
  margin-left: 5px;
  width: 100%;
  min-height: 100%;
  height: max-content;
  overflow: auto;
  display: flex;
  min-width: 200px; }
  @media (hover: none) and (pointer: coarse) {
    .split-lr-cnt {
      margin-left: 25px; } }

.split-lr-timeline {
  min-height: 100%;
  display: flex;
  flex-grow: 1; }

.split-lr-left {
  width: 200px;
  min-height: 100%;
  height: max-content;
  overflow: auto;
  cursor: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex; }

.split-lr-left-content {
  display: flex;
  flex-grow: 1; }

.split-lr-drag {
  background-color: #888;
  display: block;
  cursor: ew-resize;
  min-width: 5px;
  height: 100%;
  position: absolute;
  left: 200px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 2.5px, rgba(255, 255, 255, 0) 2.5px);
  background-position: 0 -10px, 0, 0 10px; }
  @media (hover: none) and (pointer: coarse) {
    .split-lr-drag {
      min-width: 25px;
      box-sizing: border-box;
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px), radial-gradient(circle, rgba(0, 0, 0, 0.3) 5px, rgba(255, 255, 255, 0) 5px);
      background-position: 0 -25px, 0, 0 25px;
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      border-right: 3px solid rgba(0, 0, 0, 0.3); } }


/*# sourceMappingURL=style-index.css.map*/