html, body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
  overscroll-behavior-x: none; // disable two fingers back/forward swipe
}
a {
  color: #88f;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #aaf;
}