$col-color-grid: #444;

.timeline-editor-grid-cycle {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 1px solid #888;
    }
    background-image: linear-gradient(90deg, $col-color-grid 1px, transparent 1px);
    background-repeat: round no-repeat;
    background-position-y: 50%;
    overflow: hidden;
    .timeline-editor-grid-cycle-content {
        color: #888;
        padding-left: 2px;
        font-size: 70%;
    }
}

.timeline-editor-grid-offset {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    overflow: hidden;
    text-align: right;
    padding: 0 5px 0 5px;
    color: #888;
}