$ExpandButtonColor: #0000EE;
$ExpandButtonColorBorder: rgb(243, 243, 243);

.ExpandButton {
  color: $ExpandButtonColor;
  font-family: monospace;
  text-decoration: none;
  font-size: 16px;
  border: 1px $ExpandButtonColorBorder solid;
  line-height: 11px;
  margin-right: 5px;
  margin-left: 1px;

  display: inline-flex;
  justify-content: center;
  height: 10px;
  padding-bottom: 1px;
  width: 11px;
  align-items: center;

  &>span {
    line-height: 1px;
  }

  &:visited {
    color:$ExpandButtonColor;
  }
}