@import "../../../style/variables";

.track-tree-block {
  box-sizing: border-box;
  display: block;
  padding-left: 5px;
  width: max-content;
  min-width: 100%;
  margin: 1px 0 1px 0;
  position: relative;
  height: 40px;

  &._default {
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    &::before {
      content: "";
      position: absolute;
      height: calc( 50% - 1px);
      left: -$tree-padding/2 - 1px;
      width: $tree-padding/2;
      border-bottom: 1px solid #444;
    }
    &:hover::before {
      border-bottom: 1px solid #884;
    }
  }

  &._description {
    height: 23px;
  }

  &._timeline {
    height: 40px;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}